# Будут игнорироваться все файлы tmp/
tmp/

# Будут игнорироваться все файлы заканчивающиеся суффиксами _old
*_old

# Будут игнорироваться все файлы заканчивающиеся суффиксами _backup
*_backup

# Будут игнорироваться все файлы Thumbs.db
Thumbs.db

# Будут игнорироваться все файлы .DS_Store
.DS_Store